.form {
  margin-top: 10px;
}

.meta {
  align-items: center !important;

  :global(.ant-avatar) {
    transition: all 0.5s ease;
  }

  :global(.ant-list-item-meta-title) {
    margin: 0 !important;
    line-height: 1.25 !important;
    font-size: 0.8rem !important;
    font-weight: 400;
  }

  :global(.ant-list-item-meta-description) {
    font-size: 0.9rem !important;
    font-weight: 600;
    color: #000 !important;
  }

  :global(.ant-picker),
  :global(.ant-select),
  :global(.ant-select-selector),
  :global(.ant-input-number) {
    width: 100%;
    padding: 0 !important;
  }

  :global(.ant-input),
  :global(.ant-input-number-input) {
    padding: 4px 0 !important;
  }
}
