.wrapper {
  display: flex;
  transition: 0.5s;
  font-weight: 600;
  font-size: 25px;
  box-sizing: border-box;
  border-bottom: 2px solid #f5f5f5;

  &:hover {
    border-bottom: 2px solid #1677ff;
  }

  &:focus-within {
    border-bottom: 2px solid #1677ff;
  }
}

.input {
  transition: 0.3s ease;
  text-align: center;
  border: none;
  outline: none;
  font-size: 25px;
}
